# Operating system files
.DS_Store
Thumbs.db

# Dependencies
/node_modules/
/vendor/
composer.lock

# Build files
/build/
/dist/

# IDE specific files
.idea/
*.sublime-project
*.sublime-workspace
.vscode/
